<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="blazeDemo">
	<listeners>
		<listener class-name="com.blazeDemo.Utilities.Reporting"/>
	</listeners>
	<parameter name="browser" value="chrome" />
	<test name="BankingApp Test">
		<classes>
			<class name="com.blazeDemo.testCases.TC_VerifyFlightBooking" />
		</classes>
	</test>
</suite>